html {
    scroll-behavior: smooth;
}

* {
    font-family: "Monserrat", sans-serif;
}

body {
    background-color: #191919;
    color: rgb(228, 228, 228);

    margin: 0;
}

.header {
    height: 75px;

    background-color: rgb(20, 20, 20);
}

.header img {
    width: 48px;

    margin-top: 13px;
    margin-left: 13px;
}

.header a {
    margin-right: 25px;
    margin-left: 25px;

    font-size: 20px; 
    line-height: 75px;
}

.links {
    float: right;
}

.pp {
    margin-left: 50px;
    margin-right: 50px;
}

a:link {
    text-decoration: none;

    color: rgb(85, 181, 219);
}

a:visited {
    text-decoration: none;

    color: rgb(85, 181, 219);
}

a:hover {
    text-decoration: none;

    color: rgb(85, 181, 219);
}

a:active {
    text-decoration: none;

    color: rgb(85, 181, 219);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative; 
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 60px;
    font-weight: 600;
    color: #ffffffff;
    text-shadow: 4px 4px #252730;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 30px;
    font-weight: 200;
    margin-top: 1rem;
}

.line {
    border-bottom: 64px solid rgb(20, 20, 20);
    width: 100%;
}

.desc {
    text-align: center;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
}

.mlist {
    display: flex;
}

.members-title {
    text-align: center;
    font-size: 36px;
}

.zwolfy {
    width: 128px;
    margin-left: auto;
    margin-right: 25px;
}

.zwolfyname {
    text-align: center;
    font-size: x-large;
}

.zwolfyimg {
    margin: auto;
    width: 128px;
    border-radius: 50%;
}

.zwolfyrole {
    font-size: 13px;
    text-align: center;
}

.rex {
    width: 128px;
    margin-right: auto;
    margin-left: 25px;
}

.rexname {
    text-align: center;
    font-size: x-large;
}

.reximg {
    margin: auto;
    width: 128px;
    border-radius: 50%;
}

.rexrole {
    font-size: 13px;
    text-align: center;
}

.desc hr {
    width: 256px;
}

.ghbutton {
    background-color: #4b7ce6;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 3%;
}

.ghl {
    font-size: 22px;
}

.ghbutton a:link {
    color: white;
}

.ghbutton a:visited {
    color: white;
}

.ghbutton a:hover {
    color: white;
}

.ghbutton a:active {
    color: white;
}

.pplink {
    margin-left: 25px;
    margin-bottom: 25px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); 
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}